@model Vetstore.Entities.Atencion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Atencion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.ClienteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.ClienteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mascota.MascotaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mascota.MascotaId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AtencionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
